// Specific CSS for your home-page
body {
  background-size: cover;
  // min-height: 100vh; # not sure where this line came from, but it messes with the format of the home page
}

.home-inner-body {
  height: calc(100vh - 162px);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 61px;
}

.home-container {
  height: 408px;
  width: 370px;
  background-color: white;
  padding-left: 30px;
  padding-right: 30px;
  padding-top: 26px;
  padding-bottom: 26px;
  border-radius: 10px;
}

.form-h1 {
  font-weight: bold;
  font-size: 24px;
  text-align: center;
  margin-bottom: 32px;
  margin-top: 6px;
}

.form-radio {
  margin-bottom: 1.5rem;
  justify-content: space-evenly;
}

#occupancy {
  width: 155px;
}

.form-last-row {
  align-items: flex-end;
  justify-content: space-between;
}

.form-date {
  width: 225px;
}

.form-check-in-row {
  justify-content: space-between;
}

