.index-inner-body {
  display: flex;
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  background: white;
}

.padded {
  padding: 30px 0;
}

.index-page-container {
  display: flex;
}

#map {
  // height: calc(100vh - 61px);
  position: sticky;
  top: 61px;
  width: 600px;
}

.show-space-map2 {
  margin: 0 auto;
  height: 850px;
  width: 600px;
}

@media(max-width:1200px) {
  #map {
    width: 0;
  }
}
