.newspace-inner-body {
  height: 120vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-newspace {
  height: 768px;
  width: 650px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

#new-space-login-btn {
  width: 250px;
}

.form-submit-btn {
  width: 100%
}

#space_price_per_hour {
  width: 295px;
}

#space_max_occupancy {
  width: 295px;
}

.space_space_attachments_photo {
  margin-bottom: 0;
  // height: 140px;
}

.field-all-photos {
  height: 140px;
}
