.newspace-inner-body {
  height: 120vh ;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-newspace {
  height: 700px;
  width: 650px;
  background-color: white;
  padding: 30px;
  border-radius: 10px;
}

#new-space-login-btn {
  width: 250px;
}

.form-submit-btn {
  width: 100%
}
