 <div class="sign-up-container">
    <h1 class="form-h1">Edit Your Booking Details</h1>
      <div class="form-inputs">
      <%= simple_form_for [@user, @space, @booking] do |f| %>
      <%= f.input :start_time %>
      <%= f.input :end_time %>

      <div class="form-actions" id="sign-up-button-div">
        <%= f.button :submit, "Update", class: "link-button", id: "sign-up-button" %>
      <% end %>
    </div>
    </div>
</div>
