<div id="carouselExampleIndicatorsBig" class="carousel slide" data-ride="carousel" data-interval="false">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicatorsBig" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicatorsBig" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicatorsBig" data-slide-to="2"></li>
  </ol>
  <div class="carousel-inner-big carousel-inner">
    <div class="carousel-item active">
      <%= image_tag "#{test.first}", alt: "card-1", class: "d-block carousel-image-big" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{test[1]}", alt: "card-2", class: "d-block carousel-image-big" %>
    </div>
    <div class="carousel-item">
      <%= image_tag "#{test[2]}", alt: "card-3", class: "d-block carousel-image-big" %>
    </div>
  </div>
  <a class="carousel-control-prev" href="#carouselExampleIndicatorsBig" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicatorsBig" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
