<div class="footer">
  <div class="text-center">
    <div class="footer-links">
      <a href="#"><i class="fab fa-instagram"></i></a>
      <a href="#"><i class="fab fa-facebook"></i></a>
      <a href="#"><i class="fab fa-twitter"></i></a>
    </div>
    <br>
    <div class="footer-word-links">
      <a href="#" class="footer-word-links">FAQ</a>
      <a href="#" class="footer-word-links">About us</a>
      <a href="#" class="footer-word-links">Contact us</a>
      <a href="#" class="footer-word-links">Terms</a>
    </div>
  </div>
</div>

