<div class="home-inner-body">
  <body style="background-image: url(<%= random_bg %>)">
    <form  form action="/spaces" method="get" class="home-container">
      <h1 class="form-h1">Find a space for your event</h1>
      <div class="form-group"> <!-- Where-->
        <label for="location" class="control-label">Location</label>
        <select class="select2" type="text" name="location" id="location">
          <optgroup label="Europe">
            <option>Amsterdam</option>
            <option>London</option>
            <option>Berlin</option>
            <option>Milan</option>
            <option>Paris</option>
          </optgroup>
          <optgroup label="North America">
            <option>New York</option>
            <option>Los Angeles</option>
            <option>Seatle</option>
            <option>Orlando</option>
            <option>Washington DC</option>
            <option>Houston</option>
          </optgroup>
          <optgroup label="Asia">
            <option>Hong Kong</option>
            <option>Singapore</option>
            <option>Jakarta</option>
            <option>Bangkok</option>
            <option>Tokyo</option>
          </optgroup>
        </select>
      </div>
      <label for="location" class="control-label">What kind of event?</label>
      <select class="select2" type="text" name="category">
        <option></option>
        <% array_of_catergories = ["house party", "wedding", "festival", "business", "dinner party", "drinks", "birthday", "coffee/high tea", "surprise", "baby shower", "celebration", "bridal shower", "weekend trip", "bbq"] %>
        <% array_of_catergories.each do |category|  %>
        <option><%= category %></option>
        <% end %>
      </select>
      <div class="form-check-in-row d-flex">
        <div class="form-group form-date"> <!-- Dates-->
          <label for="checkin" class="control-label">Check in</label>
          <input type="text" class="picker" id="checkin" name="checkin" placeholder="Optional">
        </div>

        <div class="form-group form-date">
          <label for="checkout" class="control-label">Check out</label>
          <input type="text" class="picker" id="checkout" name="checkout" placeholder="Optional">
        </div>
      </div>

      <div class="form-last-row d-flex">
        <div class="form-group"> <!-- When - dropdown -->
          <label for="occupancy" class="control-label">How many people?</label>
          <input type="number" name="occupancy" placeholder="Optional" id="occupancy">
          <label for="price" class="control-label">Maximum price/hour?</label>
          <input type="number" name="price" placeholder="Optional" id="price">
        </div>
        <div class="form-group">
            <input type="submit" class= "btn btn-black" value="Search">
        </div>
      </div>
    </form>

  </body>
</div>
