.btn-black{
  background-color: black;
  color: white;
  width: 160px;
  border-radius: 5px;
  padding: 3px 20px 3px 20px;

  &:hover {
    text-decoration: none;
    font-weight: bold;
    color: white;
  }
}
