#link-button-1{
  width: 267px;
}

#link-button-2{
  width: 267px;
}

.btn-black{
  background-color: black;
  color: white;
  width: 195px;
  border-radius: 10px;

  &:hover {
    text-decoration: none;
    cursor: pointer;
    color: white;
    opacity: 0.85;
  }
}

.btn-white{
  background-color: white;
  color: black;
  width: 195px;
  border-radius: 10px;
  font-family: Roboto;
  border: 1px solid black;

  &:hover {
    background-color: black;
    text-decoration: none;
    cursor: pointer;
    color: white;
    // opacity: 0.85;
  }
}

.link-button {
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 5px;
  padding: 3px 20px 3px 20px;
  margin: 20px;

  &:hover {
    text-decoration: none;
    color: white;
    opacity: 0.85;
    cursor: pointer;
  }
}

.login-btn {
  background-color: black;
  color: white;
  width: 100%;
  border-radius: 10px;

  &:hover {
    opacity: 0.85;
    color: white;
    cursor: pointer;
  }
}


#sign-up-button{
  margin: 0;
}

#sign-up-button-div{
  margin-bottom: 10px;
}
