.carousel-inner {
  width: 310px;
}

.carousel-image {
  width: 310px;
  height: 210px;
  border-radius: 4px;
  object-fit: cover;
}

.carousel-image-big {
  width: 100%;
  height: 60vh;
  object-fit: cover;
}

#carouselExampleIndicatorsBig {
  width: 100vw;
}

.carousel-inner-big {
  width: 100vw;
  height: 60vh;
}
