.link{
  color: black;

  &:hover {
    text-decoration: none;
    opacity: 0.8;
    color: black;
  }
}


.dropdown-link {
  color: #7f7f7f;

  &:hover {
    text-decoration: none;
    color: black;
  }
}

.login-links {
justify-content: space-between;
text-align: center;
}

