.profile-page-inner-body {
  margin: 0;
  font-family: Roboto;
  font-size: 18px;
  background: white;
}

.padded {
  padding-top: 30px;
}

.profile-page-container {
  display: flex;
}

.profile-h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-top: 30px
}
