.profile-page-inner-body {
  font-family: Roboto;
  font-size: 18px;
  background: white;
  width: 80vw;
  margin: 0 auto;
}

.padded {
  padding-top: 30px;
}

.profile-page-container {
  display: flex;
}

.profile-h1 {
  font-weight: bold;
  font-size: 30px;
  text-align: center;
  margin-top: 5px;
  margin-bottom: 30px;
  padding-top: 30px
}

.profile-box {
display: flex;
justify-content: center;
}

.link-button-top-profile {
  justify-content: center;
}


.profile-pic {
 text-align: center;
 border-radius: 50%;
 padding-top: 10px;
}

.test {
 text-align: center;
 padding-top: 40px;
}

.profile-top-box {
  display: flex;
}

#profile-message{
  padding-left: 50px;
}
